# For using this Tutorial, you need to download and install :

## mysql.connector
https://anaconda.org/anaconda/mysql-connector-python


## Documents:

https://www.mysql.com/products/connector/

In [1]:
import mysql.connector
import pandas as pd

In [2]:
db_connection = mysql.connector.connect(user='workshop', password='sensors2019',host='128.153.15.208',database='NEMAbox')

In [3]:
db_cursor = db_connection.cursor()
db_cursor.execute('SELECT * FROM NEMA1')

table_rows = db_cursor.fetchall()

df = pd.DataFrame(table_rows)

In [4]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,2019-06-27 07:32:35,1,1561617116,3,4,6,7,7,6,7,...,27,1,0,0,0.00\r,2.23,0.02,1.28,21.31,66.06
1,2019-06-27 07:32:43,2,1561617124,3,4,5,6,6,5,6,...,25,0,0,0,0.00\r,0.00,0.24,2.63,21.34,65.70
2,2019-06-27 07:32:52,3,1561617133,3,4,4,5,5,4,5,...,27,0,0,0,0.95\r,0.00,0.02,4.76,21.38,65.41
3,2019-06-27 07:33:00,4,1561617141,3,4,4,5,6,4,5,...,22,1,1,0,6.59\r,0.00,0.02,1.14,21.44,65.15
4,2019-06-27 07:33:08,5,1561617149,3,4,5,6,7,5,6,...,28,3,1,0,0.00\r,0.04,0.24,0.72,21.48,64.94